.square-button {
  border: 0.05em solid #1D1F22;
  color: #1D1F22;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 14px;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square-button.auto-width {
  width: auto;
}

.square-button.disabled {
  color: #A6A6A6;
  background: rgba(166, 166, 166, 0.2) !important;
  border: 0.05em solid #A6A6A6;
  cursor: initial;
}

.square-button.active {
  color: #fff;
  background-color: #1D1F22;
}